p{
  margin-bottom: 0.5rem;
}

footer{
  z-index:99999;
  
}

  footer a:link {
    color: white !important;
  }
  a:visited {
    color: white;
    }

  footer a:hover {
    color: hotpink;
  }

main{
  z-index:-1;
}

#team-cards{
  display: flex;
  align-items: center;
  margin: 5rem 0rem;
  /* flex-grow: 2; */
  /* justify-items: center; */
}
.team-card {
    font-family: 'Open Sans', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    /* width: 100%; */
    text-align: center;
    height:400px;
    border:none;
    margin: 0.5rem;
    padding: 0;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  }
  .team-card .manager-stripe {
      background:#b80c09;
      float: left;
      /* width: 100%; */
      height: 200px;
      overflow: hidden;
  }
  .team-card .engineer-stripe {
      background:#e18335;
      float: left;
      width: 100%;
      height: 200px;
      overflow: hidden;
  }
  .team-card .intern-stripe {
      background:#104f55;
      float: left;
      width: 100%;
      height: 200px;
      overflow: hidden;
  }
  .team-card .card-content {
    /* width: 100%; */
    padding: 10px 25px;
    color:#232323;
    float:left;
    background:#3abeff;
    height:75%;
    padding-top: 4rem;
    border-radius:0 0 5px 5px;
    position: relative;
    z-index: 1;
  }
  .team-card .card-content::before {
      content: '';
      background: #3abeff;
      width: 120%;
      height: 100%;
      left: 11px;
      bottom: 5px;
      position: absolute;
      z-index: -1;
      transform: rotate(-13deg);
  }
  .team-card .profile {
    border-radius: 50%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    max-width: 200px;
    opacity: 1;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(0, 0, 0);
    background: #fffff2;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%); 
    z-index:2;
  }
  .team-card h2 {
    margin: 0 0 5px;
    font-weight: 600;
    font-size:25px;
  }
  .team-card h2 small {
    display: block;
    font-size: 15px;
    margin-top:10px;
  }

a:link {
color: black;
}
a:visited {
color: white;
}
a:hover {
  color: white;
}

#manager-card a:visited {
color: #b80c09;
}
#engineer-card a:visited {
color: #e18335;
}
#intern-card a:visited {
color: #198754;
}

